body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#bg-dark {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0px -5px 13px 10px rgb(73, 72, 72);
    padding: 5px;
}

.nav-content-left {
    display: flex;
    align-items: center;
}

.nav-content-left img {
    height: 40px;    
    margin-right: 25px;
}

.search-content {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.search-content input {
    border: none;
    outline: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    gap: 25px;
    padding: 25px 10px 10px 10px;
}

#pokedex-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 260px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

#pokedex-card:hover {
    transform: scale(1.1);
}

.pokemon-font-size {
    font-size: 23px;
}

.pokemon-img {
    height: 150px;
    width: 150px;
}

.pokemon-type {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
}

.pokemon-type span {
    padding: 1px 10px 2px 10px;
}

.d-none {
    display: none;
}

.hidden {
    overflow: hidden;
}

#pokemon-info-container {
    position: fixed;
    top: 185px;
    left: 0;
    right: 0;
    z-index: 999;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    width: 350px;
    margin-top: -20px;
    border-radius: 10px;
    padding: 10px;
}

#img {
    height: 150px;
    width: 150px;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.close-icon img {
    cursor: pointer;
    height: 35px;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.pokemon-name-type {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}